@use '@/App/styles/mixins' as mixins;

.Segment {
  h1.title {
    @include mixins.h1
  }

  h2.title {
    @include mixins.h2
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}