@use '@/App/styles/vars' as colors;

.Alert {
  padding: 10px;
  border-radius: colors.$border-radius-small;

  &.red {
    background-color: #ffd1d1;
    color: #631717;
  }

  &.green {
    background-color: #d7ffd7;
    color: #2b6d2b;
  }

  &.brown {
    background-color: #e9d5bd;
    color: #614f39;
  }
}