@use '@/App/styles/mixins' as mixins;
@use '@/App/styles/vars' as colors;

.title {
  @include mixins.h1;

  margin-bottom: 2px;
}

.ideaDescription {
  font-size: 18px;
  margin-bottom: 20px;
}

.ideaText {
  font-size: 14px;

  &>*:not(:first-child) {
    margin-top: 10px;
  }
}