$white: #fff;
$black: #000;
$red: #c00;
$blue: #00c;
$default-font-family: 'Helvetica','Arial', sans-serif;
$default-fontsize: 14px;
$default-text-color: $black;
$default-background-color: $white;
$default-line-height: 1.2;
$border-radius-small: 3px;
