@use '@/App/styles/mixins' as mixins;
@use '@/App/styles/vars' as colors;

.title {
	@include mixins.h1;
}

.ideas {
	.idea {
		padding: 20px;
		border: 1px solid colors.$black;
		border-radius: 10px;

		&+.idea {
			margin-top: 20px;
		}

		.ideaName {
			@include mixins.h2;

			.ideaLink {
				@include mixins.link;
			}
		}
	}

	.ideaDescription {
		font-size: 18px;
	}
}