@use '@/App/styles/mixins' as mixins;
@use '@/App/styles/vars' as colors;


.ideas {
	.idea {
		padding: 20px;
		border: 1px solid colors.$black;
		border-radius: 10px;

		&+.idea {
			margin-top: 20px;
		}

		.ideaLink {
			@include mixins.link;
		}

	}

}